// _mixin.scss

@mixin positionX {
    position: absolute;
}

@mixin customFont {
    font-weight: 900!important;
    font-size: 4rem!important;
    letter-spacing: 0.10em!important;
    text-shadow: 2px 3px 0px $green 0px 0px 50px $green;
    margin: auto;
}
