//_variables.scss

$white: #fff;
$gray-shadow : #898999;
$black: #666;
$purple:  #6d327c;
$light-purple: rgba(246,213,255, 0.9);
$green: #36C486;
$orange: #FF9C66;
$light-blue: #00a1ba;
$blue: #485DA6;
$dark-gray: #1e1e1e;



$text-arrow-space: 16px;
$shaft-width: 64px;
$shaft-thickness: 1px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;