//_variables.scss

$white: #fff;
$gray-shadow : #898999;
$black: #666;
$purple:  #6d327c;
$dark-purple: rgba(109, 50, 124,1);
$green: #36C486;
$orange: #FF9C66;
$light-blue: #00a1ba;
$light-blue-alpha: rgba(0, 161, 186, 0.6);
$blue: #485DA6;

$text-arrow-space: 16px;
$shaft-width: 64px;
$shaft-thickness: 1px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;